body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #EF6F53;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}


a{
display:block;
text-align:left;
text-decoration: none;
}

button {
    margin: 30px;
    background-color: #285A84;
    color: white;
    width: 20%;
    font-size: 20px;
    height: 70px;
    border: #285A84;
    border-radius: 5px;
    text-align:center;
}

.top{
 background-color: #EF6F53;
}



    


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}