{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{% static 'style/dashboard.css' %}">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <img src="{% static 'img/logoDashboard.png' %}"width=70px" height="65px" alt="">
        </div>

        <div class="sidebar-profile-greeting">
            <div class="profile">
                <img src="{% static 'img/person.png' %}" width=90px" height="90px" alt="">
            </div>
            <div class="greeting">
                <h5>Hello, John!</h5>
            </div>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="dashboard.html" class="active">
                        <span class="las la-braille"></span>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="dashboardMatches.html">
                        <span class="las la-university"></span>
                        <span>Matches</span>
                    </a>
                </li>

                <li>
                    <a href="messages.html">
                        <span class="las la-comments"></span>
                        <span>Messsages</span>
                    </a>
                </li>

                <li>
                    <a href="settings.html">
                        <span class="las la-cog"></span>
                        <span>Settings</span>
                    </a>
                </li>

                <li>
                    <a href="dashboard.html">
                        <span class="las la-sign-out-alt"></span>
                        <span>Logout</span>
                    </a>
                </li>

            </ul>
        </div>


    </div>

</body>

</html>